html {
  font-family: "futura-pt", sans-serif;
  font-weight: 300;
  color: #fffef4;
}

body {
  min-width: 320px;
}

strong {
  font-weight: 400;
}

.prev-next-rect {
  fill: black;
}

.nav-bg,
.footer {
  background-color: rgba(0, 0, 0, 0.8);
  color: #d5d8dc;
}


.masthead {
  position: fixed;
  width: 100%;
  min-width: 320px;
  z-index: 5000;
}

a:active {
  outline: none;
}

.nav a {
  color: #fffef4;
  text-decoration: none;
}

.introduction {
  background-color: #0f0f0f;
  color:#ff6b6b;
}

.introduction-title {
  color: #fffef4;
}

.contact-titles {
  padding-top: 10em;
  color: #fffef4;
}

.contact-page {
  background-color: #0f0f0f;
}


.list-group-inline > dt {
  width: 4em;
}

.btn-404 {
  border-color: #fffef4;
  color: #fffef4;
  background-color: transparent;
  font-weight: 400;
}

.btn-404:hover {
  border-color: #ff6b6b;
  color: #ff6b6b;
}


.btn-link:hover {
  color: #ff6b6b;
}

.logo {
  width: 16rem;
  max-height: 2rem;
}

.logo-small {
  width: 32px;
}

.banner-content {
  color: #f9f9f9;
  text-shadow: .05em .05em .15em rgba(0, 0, 0, .6);
  text-align: right;
}

.about-me-content {
  color: #fffef4;
  background-color: #0f0f0f;
}

.keyline {
  height: .1rem;
  width: 1rem;
  background-color: #ff6b6b;
}

.nav .current,
.nav a:hover {
  color: #ff6b6b;
}

.banana-wrapper {
  height: 30rem;
}

.banana::after {
  content: '';
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,.6);
  z-index: 1000;
  position: absolute;
  transition: all 200ms ease-in-out;
}

.banana .banana-image {
  filter: grayscale(100%);
}

.banana-content {
  color: #fffef4;
  font-family: "futura-pt", sans-serif;
  font-weight: 700;
  opacity: 1;
  z-index: 2000;
  transition: all 200ms ease-in-out;
  transform: translate(-50%, -50%);
}

h2 {
  font-weight: 700;
}

h3 {
  font-weight: 100;
}

p {
  font-weight: 400;
}

.collaboration {
  font-weight: 100;
}


.lift-image {
  background-image: url('../images/lift-logo-hero.png');
}

.shadow {
   box-shadow: 9px 9px 6px #0f0f0f;
}

.cycling-intro {
  background-color: #faff31;
  color: #333;
}

.cycling-process {
  background-color: #0f0f0f;
}

.cycling-process-title {
  color: #faff31;
}

.cycling-secondary {
  background-color: #f9f9f9;
  color: #0f0f0f;
}

.cycling-secondary-title {
  color: #eb0029;
}

.cycling-app-process {
  color: #f9f9f9;
  background-color: #eb0029;
}

.cycling-app-process-title {
  color: #0f0f0f;
}

.cycling-app-my-rides {
  background-color: #0f0f0f;
  color: #f9f9f9;
}

.bg-volt {
    background-color: #faff31;
}

.baxter-intro {
  background-color: #3974c0;
  color: #f9f9f9;
}

.baxter-process {
  color: #0f0f0f;
  background-color: #f9f9f9;
}

.baxter-process-title {
  color: #3974c0;
}

.baxter-secondary {
  background-color: #d3c2af;
  color: #43322d;
}

.baxter-secondary-title {
  color: #f9f9f9;
}

.baxter-original {
  color: #0f0f0f;
}

.bjkane-intro {
  background-color: #f9f9f9;
  color: #eb0029;
}

.bjkane-original {
  background-color: #0f0f0f;
  color: #f9f9f9;
}

.bjkane-process {
  background-color: #f9f9f9;
  color: #0f0f0f;
}

.bjkane-process-title {
    color: #eb0029;
}

.bjkane-grid {
  background-color: #eb0029;
}

.misc-titles {
  color: #333;
}

.misc-nav {
  font-weight: 700;
}

.footer-name {
  border-right: 1px solid #ff6b6b;
  margin-right: .5rem;
  padding-right: .7rem;
}

.social-icon {
  height: 20px;
  width: 20px;
}

.prev-icon {
  height: 40px;
  width: 40px;
  position: absolute;
  left: 20px;
  bottom: 20px;
}

.next-icon {
  height: 40px;
  width: 40px;
  position: absolute;
  right: 20px;
  bottom: 20px;

}

.next-arrow {
  height: 20px;
  width: 20px;
  position: absolute;
  right: 20px;
  bottom: 50px;
}


 svg path {
  transition: fill 0.2s;
}

.wordmark:hover path {
  fill: #ff6b6b;
}

.wrapper {
  max-width: 60em;
}

.pad-t-4 {
  padding-top: 8rem;
}
.pad-b-4 {
  padding-bottom: 8rem;
}

.intro-section-lift {
  background-color: #eb0029;
}

.logo-section-lift-1 {
  background: radial-gradient(circle at center, #fff 0, #fff 90%, #fff 100%);
}

.logo-restraints {
  max-width: 25em;
}

.logo-section-2 {
  box-shadow: 0 0em 3em rgba(0,0,0,.3);
  position: relative;
}

.logo-wrapper {
  margin-left: auto;
  margin-right: auto;
}

.bg-red {
  background-color: #eb0029;
}

.bg-black {
  background-color: #0f0f0f;
}

.bg-white {
  background-color: #f9f9f9;
}

.color-black {
  color: #0f0f0f;
}

.color-red {
  color: #eb0029;
}

.lift-logo-2 {
  max-width: 12rem;
}

.swatches {
  position: fixed;
  right: 0;
  bottom: 20%;
  /* top: 50%; */
  /* transform:translateY(-50%); */
  pointer-events: none;
  width: 1.5em;
}

@media only screen and (min-width: 38em) {

  .push-m-0 {
    margin-bottom: 0;
  }

  .about-me-section {
    position: relative;
  }

  .about-me-content {
    position: absolute;
    top: 55%;
    max-width: 20em;
    transform:translateY(-50%);
    background-color: rgba(0, 0, 0, 0.85);
    color: #fffef4;
  }

  .about-me-body {
    font-weight: 300;
  }

  .keyline {
    height: .2rem;
    width: 3rem;
    background-color: #ff6b6b;
  }

  .social-icon {
    height: 32px;
    width: 32px;
  }

  .prev-icon {
    height: 50px;
    width: 50px;
    position: absolute;
    left: 46px;
    bottom: 46px;
  }

  .next-icon {
    height: 50px;
    width: 50px;
    position: absolute;
    right: 46px;
    bottom: 46px;
  }

  .next-arrow {
    height: 40px;
    width: 40px;
    position: absolute;
    right: 100px;
    bottom: 60px;
  }

}

@media only screen and (min-width: 80em) {

  .misc-nav li {
    display: inline-block;
  }

  .misc-nav-keyline {
    padding-right: 2.9rem;
    padding-left: 2.9rem;
    border-right: 1px solid #ff6b6b;

  }

  .misc-nav-keyline-b {
    padding-right: 2.9rem;
    padding-left: 2.9rem;
    background-color: #0f0f0f;
  }
}

@media (hover: hover) {

  .banana::after {
    background-color: rgba(0,0,0,0);
  }

  .banana:hover::after {
    background-color: rgba(0,0,0,.6);
  }

  .banana .banana-image {
    filter: grayscale(0%);
  }

  .banana:hover .banana-image {
    filter: grayscale(100%);
  }

  .banana-content {
    opacity: 0;
  }

  .banana .banana-content {
    transform: translate(-50%, -40%);
  }

  .banana:hover .banana-content {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}
