html {
  font-family: "futura-pt", sans-serif;
  font-weight: 300;
  color: #fffef4;
}

body {
  min-width: 320px;
}

.masthead,
.footer {
  background-color: rgba(0, 0, 0, 0.8);
  color: #d5d8dc;
}

.masthead {
  position: fixed;
  width: 100%;
  min-width: 320px;
  z-index: 5000;
}

a:active {
  outline: none;
}

.nav a {
  color: #fffef4;
  text-decoration: none;
}

.introduction {
  background-color: #0f0f0f;
  color:#ff6b6b;
}

.introduction-title {
  color: #fffef4;
}

.contact-titles {
  padding-top: 10em;
  color: #fffef4;
}

.contact-page {
  background-color: #0f0f0f;
}


.list-group-inline > dt {
  width: 4em;
}

.background-image {
  height: 100vh;
  background-image: url('../images/mountain-background.jpg');
  background-size: cover;
  background-position: center top;
}

.btn-link:hover {
  color: #ff6b6b;
}

.logo {
  width: 16rem;
  max-height: .1rem;
}

.logo-small {
  width: 32px;
}

.banner-content {
  color: #fff;
  text-shadow: .05em .05em .15em rgba(0, 0, 0, .6);
  text-align: right;
}

.about-me-content {
  color: black;
}

.keyline {
  height: .25rem;
  width: 3rem;
  background-color: #ff6b6b;
}

.current,
.nav a:hover {
  color: #ff6b6b;
}

.banana-wrapper {
  height: 30rem;
}

.banana::after {
  content: '';
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,.6);
  z-index: 1000;
  position: absolute;
  transition: all 200ms ease-in-out;
}

.banana .banana-image {
  filter: grayscale(100%);
}

.banana-content {
  color: #fffef4;
  font-family: "futura-pt", sans-serif;
  font-weight: 700;
  opacity: 1;
  z-index: 2000;
  transition: all 200ms ease-in-out;
  transform: translate(-50%, -50%);
}

h2 {
  font-weight: 700;
}

h3 {
  font-weight: 100;
}

p {
  font-weight: 400;
}

.collaboration {
  font-weight: 100;
}


.lift-image {
  background-image: url('../images/lift-logo-hero.png');
}

.shadow {
   box-shadow: 9px 9px 6px #9b9b9b;
}

.cycling-intro {
  background-color: #faff31;
  color: #333;
}

.cycling-process {
  background-color: #0f0f0f;
}

.cycling-process-title {
  color: #faff31;
}

.cycling-secondary {
  background-color: #efefef;
  color: #0f0f0f;
}

.cycling-secondary-title {
  color: #ed1c24;
}

.bg-volt {
    background-color: #faff31;
}

.baxter-intro {
  background-color: #3974c0;
  color: #fff;
}

.baxter-process {
  color: #d3c2af;
}

.baxter-process-title {
  color: #3974c0;
}

.baxter-secondary {
  background-color: #d3c2af;
  color: #43322d;
}

.baxter-secondary-title {
  color: #efefef;
}


.bjkane-intro {
  background-color: #0f0f0f;
  color: #fff;
}

.bjkane-process {
  background-color: #fff;
  color: #0f0f0f;
}

.bjkane-process-title {
    color: #ed1c24;
}

.bjkane-grid {
  background-color: #ed1c24;
}

.misc-titles {
  color: #333;
}

.footer-name {
  border-right: 1px solid #fff;
  margin-right: .5rem;
  padding-right: .7rem;
  line-height: 1;
}


 svg path {
  transition: fill 0.2s;
}

svg:hover path {
  fill: #ff6b6b;
}

.wrapper {
  max-width: 60em;
}

.pad-t-4 {
  padding-top: 8rem;
}
.pad-b-4 {
  padding-bottom: 8rem;
}

.intro-section-lift {
  background-color: #ed1c24;
}

.logo-section-lift-1 {
  background: radial-gradient(circle at center, #fff 0, #fff 90%, #fff 100%);
}

.logo-restraints {
  max-width: 25em;
}

.logo-section-2 {
  box-shadow: 0 0em 3em rgba(0,0,0,.3);
  position: relative;
}

.logo-wrapper {
  margin-left: auto;
  margin-right: auto;
}

.bg-red {
  background-color: #ed1c24;
}

.bg-black {
  background-color: #0f0f0f;
}

.color-black {
  color: #0f0f0f;
}

.color-red {
  color: #ed1c24;
}

.lift-logo-2 {
  max-width: 12rem;
}

.swatches {
  position: fixed;
  right: 0;
  bottom: 20%;
  /* top: 50%; */
  /* transform:translateY(-50%); */
  pointer-events: none;
  width: 1.5em;
}

@media only screen and (min-width: 38em) {

  .push-m-0 {
    margin-bottom: 0;
  }

  .about-me-section {
    position: relative;
  }

  .about-me-content {
    position: absolute;
    top: 50%;
    transform:translateY(-50%);
    max-width: 18em;
    background-color: rgba(255, 255, 255, 0.5);
  }

.about-me-body {
  font-weight: 300;
}



}

@media (hover: hover) {

  .banana::after {
    background-color: rgba(0,0,0,0);
  }

  .banana:hover::after {
    background-color: rgba(0,0,0,.6);
  }

  .banana .banana-image {
    filter: grayscale(0%);
  }

  .banana:hover .banana-image {
    filter: grayscale(100%);
  }

  .banana-content {
    opacity: 0;
  }

  .banana .banana-content {
    transform: translate(-50%, -40%);
  }

  .banana:hover .banana-content {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}
