html {
  font-family: "Heebo", sans-serif;
  font-weight: lighter;
  background-color: #281f20;
  color: #fffef4;
}

h1,
h2 {
  font-family: "Heebo", sans-serif;
  color: #fffef4;
}

h2 {
  color: #f36;
}

.masthead,
.footer {
  background-color: #231f20;
  color: #d5d8dc;
}

.nav a {
  border-bottom: .08em solid #f36;
  color: #fffef4;
  text-decoration: none;
  background-color: #231f20;

}

.logo {
  width: 64px;
}

.banner-content {
  color: #fff;
  text-shadow: .05em .05em .15em rgba(0, 0, 0, .6);
  text-align: right;
}

.nav a:hover {
  color: #f36;
}
