---
layout: default
title: 613 Cycling
description: 613 Cycling Case Study
---

  {% include hero-intro.html title="Creating a Culture" intro="Tight deadlines and pressure can often help to produce great results. For this project, the client - a cycling club located in Ottawa, Ontario -  had a race a week after the project brief. They wanted to unveil their new club to the cycling community and needed a logo, fast." image="cycling-hero.jpg" class="cycling-intro" %}
  {% include process-section.html image="cycling-sketch.svg" title="The Design Process" description="Due to the tight timeline associated with this project there was not an ample amount of time for the exploration of ideas. Because the bikes race at high speeds and are often riding in large groups, I felt that the appropriate solution was a more minimal logo, something that could be recognized at high speeds and stand out from the crowd. The idea to use the numbers as a representation of a bike came fairly quickly in the sketching process. Using the circular forms in the base of the six and the three to symbolize the wheels was a clear choice. From here the logo was calibrated and refined to ensure symmetry & consistency." class="cycling-process" class2="cycling-process-title"%}
  {% include logo-grid.html image="cycling-logo-grid" class="bg-red" %}
  {% include logo-display.html class="bg-black" image="cycling-logo-black" class2="bg-volt" image2="cycling-logo-volt" class3="bg-red" image3="cycling-logo-red" %}
  {% include secondary-text.html title="Logo Applications" description="The following are examples of various logo and colour applications pertaining to the 613 Cycling brand. Race photos were taken by Zara Ansar." class="cycling-secondary" class2="cycling-secondary-title" %}
  <section class="grid">
      <div class="unit xs-1 m-1-2 l-1-3">
        <img class="img-flex" src="{{site.baseurl}}/images/cycling-bottle-volt.jpg" alt="">
      </div>
      <div class="unit xs-1 m-1-2 l-1-3">
        <img class="img-flex" src="{{site.baseurl}}/images/cycling-bottle.jpg" alt="">
      </div>
      <div class="unit xs-1 m-1-2 l-1-3">
        <img class="img-flex" src="{{site.baseurl}}/images/cycling-bottle-red.jpg" alt="">
      </div>
  </section>

  <section class="grid">
    <div class="unit xs-1 m-1-2">
      <img class="img-flex" src="{{site.baseurl}}/images/cycling-wyatt-2.jpg">
    </div>
    <div class="unit xs-1 m-1-2">
      <img class="img-flex" src="{{site.baseurl}}/images/cycling-hill.jpg">
    </div>
  </section>


  <section>
        <img class="img-flex" src="{{site.baseurl}}/images/cycling-shoes-black.jpg" alt="">
  </section>

  <section>
          <img class="img-flex" src="{{site.baseurl}}/images/cycling-shoes-white.jpg" alt="">
    </section>

  <section class="grid">
      <div class="unit xs-1 m-1-2">
        <img class="img-flex" src="{{site.baseurl}}/images/cycling-shoes-volt.jpg" alt="">
      </div>
      <div class="unit xs-1 m-1-2">
        <img class="img-flex" src="{{site.baseurl}}/images/cycling-shoes-red.jpg" alt="">
      </div>
  </section>

  <img class="swatches" src="{{site.baseurl}}/images/cycling-swatches.svg" alt="">

  <div class="relative">
      <a href="{{site.baseurl}}/613-lift/" class="icon prev-icon wordmark">
        <svg id="previous" width="76.8" height="76.8" viewBox="0 0 57.65 57.65">
          <rect class="prev-next-rect" width="57.65" height="57.65" opacity=".6" rx="5.57" ry="5.57"/>
          <path class="prev-next-arrow" fill="#fffef4" d="M34.48 45.73l-16.4-16.4a.72.72 0 0 1 0-1l16.4-16.4a.72.72 0 0 1 1 0l2.52 2.5a.72.72 0 0 1 0 1L25.15 28.31a.72.72 0 0 0 0 1L38 42.2a.72.72 0 0 1 0 1l-2.52 2.52a.72.72 0 0 1-1 .01z"/>
        </svg>
      </a>

      <a href="{{site.baseurl}}/cycling-app/" class="icon next-icon wordmark">
        <svg id="next" width="76.8" height="76.8" viewBox="0 0 57.65 57.65">
          <rect class="prev-next-rect" width="57.65" height="57.65" opacity=".6" rx="5.57" ry="5.57" transform="rotate(180 28.825 28.825)"/>
          <path class="prev-next-arrow" fill="#fffef4" d="M23.17 11.91l16.4 16.4a.72.72 0 0 1 0 1l-16.4 16.4a.72.72 0 0 1-1 0l-2.52-2.52a.72.72 0 0 1 0-1L32.5 29.33a.72.72 0 0 0 0-1L19.64 15.45a.72.72 0 0 1 0-1l2.52-2.52a.72.72 0 0 1 1.01-.02z"/>
        </svg>
      </a>
  </div>
