---
layout: default
title: Baxter of California
description: Baxter of California Case Study
---

  {% include hero-intro.html title="Limited Edition Packaging" intro="This was an academic assignment in which the objective was to re-design and manufacture limited edition packaging. I chose a classic men's grooming brand, Baxter of California." image="baxter-hero.jpg" class="baxter-intro" %}
  {% include process-section.html image="baxter-sketches-placeholder.svg" title="The Design Process" description="This is the description for the baxter project describing the process behind the whole design of all of it. Talk about the old packaging and why I wnated to re-design it. WHat were some of my ideas and why did I choose them. Maybe show the before and after packaging next to this on the left. PNGs w shadows on a white background so that they look like they're on the website screen." class="baxter-process" class2="baxter-process-title"%}

  <section class="gutter">
  <div class="grid">
    <div class="unit xs-1 m-1-2">
      <img class="img-flex" src="{{site.baseurl}}/images/baxter-vector.jpg">
    </div>
    <div class="unit xs-1 m-1-2">
      <img class="img-flex" src="{{site.baseurl}}/images/baxter-die-cut.jpg">
    </div>
  </div>
  </section>

  {% include secondary-text.html title="The Box" description="I created the wood box using a laser etching printer from a local woodworking shop. I wanted the wood box to fit tightly around the cardboard box to avoid any potential movement. For the design on the wood box, it was my intention to replicate the design of the cardboard box but remove any supporting information or features -  making the focus on the wood texture and the craftsmanship of the box. I also dipped the tips of the suede rope in to blue paint as a subtle visual link and representation to the Baxter of California brand in the smallest details of the packaging.
" class="baxter-secondary" class2="baxter-secondary-title"%}


  <section>
      <div class="pad-t-4 pad-b-4 gutter wrapper">
        <img class="img-flex" src="{{site.baseurl}}/images/baxter-box-pre-cut.svg">
      </div>
  </section>

  <section>
        <img class="img-flex" src="{{site.baseurl}}/images/baxter-laser-2.jpg" alt="">
  </section>

    <img class="swatches" src="{{site.baseurl}}/images/baxter-swatches.svg" alt="">
