---
layout: default
title: Baxter of California
description: Baxter of California Case Study
---

  {% include hero-intro.html title="Limited Edition Packaging" intro="This was a school assignment where the objective was to re-design and manufacture limited edition packaging. I chose a classic men's grooming brand, Baxter of California." image="baxter-hero.jpg" class="baxter-intro" %}
  {% include process-section.html image="baxter-sketches-placeholder" title="The Design Process" description="This is the description for the baxter project describing the process behind the whole design of all of it. Talk about the old packaging and why I wnated to re-design it. WHat were some of my ideas and why did I choose them. Maybe show the before and after packaging next to this on the left. PNGs w shadows on a white background so that they look like they're on the website screen." class="baxter-process"%}

  <section class="gutter">
  <div class="grid wrapper">
    <div class="unit xs-1 m-1-2">
      <img class="img-flex" src="{{site.baseurl}}/images/{{baxter-vector.jpg}}">
    </div>
    <div class="unit xs-1 m-1-2">
      <img class="img-flex" src="{{site.baseurl}}/images/{{baxter-die-cut.jpg}}">
    </div>
  </div>
  </section>

  <section>
        <img class="img-flex" src="{{site.baseurl}}/images/baxter-laser.jpg" alt="">
  </section>
