---
layout: default
title: Baxter of California
description: Baxter of California Case Study
---

  {% include hero-intro.html title="Limited Edition Packaging" intro="This was a school assignment where the objective was to re-design and manufacture limited edition packaging. I chose a classic men's grooming brand, Baxter of California." image="baxter-hero.jpg" class="baxter-intro" %}
  {% include process-section.html image="baxter-sketches-placeholder.svg" title="The Design Process" description="This is the description for the baxter project describing the process behind the whole design of all of it. Talk about the old packaging and why I wnated to re-design it. WHat were some of my ideas and why did I choose them. Maybe show the before and after packaging next to this on the left. PNGs w shadows on a white background so that they look like they're on the website screen." class="baxter-process"%}

  <section class="gutter">
  <div class="grid">
    <div class="unit xs-1 m-1-2">
      <img class="img-flex" src="{{site.baseurl}}/images/baxter-vector.jpg">
    </div>
    <div class="unit xs-1 m-1-2">
      <img class="img-flex" src="{{site.baseurl}}/images/baxter-die-cut.jpg">
    </div>
  </div>
  </section>

  {% include secondary-text.html title="The Laser Cutting Process" description="I created the wood box using a laser etching printer from a local wood working shop. I wanted the box to fit very snug around the cardboard box to avoid any potential bouncing around. For the labeling on the wood box I wanted to replicate the box inside but remove any supporting information, keeping the focus on the wood and the craftsmenship of the box. I dipped the tips of the suede rope in blue paint as a subtle representation of the Baxter of California brand in the smallest details of the packaging." class="baxter-secondary"%}


  <section class="gutter">
  <div class="grid">
    <div class="unit xs-1 m-1-2 pad-t-4 gutter">
      <img class="img-flex" src="{{site.baseurl}}/images/baxter-box-pre-cut.svg">
    </div>
    <div class="unit xs-1 m-1-2">
      <img class="img-flex" src="{{site.baseurl}}/images/baxter-box-laser-plan.jpg">
    </div>
  </div>
  </section>

  <section>
        <img class="img-flex" src="{{site.baseurl}}/images/baxter-laser-2.jpg" alt="">
  </section>
