---
layout: default
title: BJ Kane Electric
description: BJ Kane Electric Case Study
---

  {% include hero-intro.html title="A new look for an established business." intro="This was a re-branding concept for a trusted local electrical company." image="bjkane-hat-black.jpg" class="bjkane-intro" %}
  {% include process-section.html image="bjkane-sketches-placeholder.svg" title="The Design Process" description="This is the description for the baxter project describing the process behind the whole design of all of it. Talk about the old packaging and why I wnated to re-design it. WHat were some of my ideas and why did I choose them. Maybe show the before and after packaging next to this on the left. PNGs w shadows on a white background so that they look like they're on the website screen." class="bjkane-process" class2="bjkane-process-title" %}
  {% include logo-grid.html image="bjkane-logo-grid" class="bjkane-grid" %}

  <section class="logo-section-1 logo-section-lift-1 gutter pad-t-4 pad-b-4">
  <div class="wrapper">
    <div class="max-length logo-restraints">
      <img class="img-flex" src="{{site.baseurl}}/images/bjkane-logo-white.svg">
    </div>
  </div>
  </section>

  <section class="logo-section-2 logo-section-lift-2">
  <div class="grid w-1">
    <div class="unit xs-1 m-1-2 bg-red island-2">
      <img class="img-flex lift-logo-2 w-1-2  center-block" src="{{site.baseurl}}/images/bjkane-logo-red.svg">
    </div>
    <div class="unit xs-1 m-1-2 bg-black island-2">
      <img class="img-flex lift-logo-2 w-1-2 center-block" src="{{site.baseurl}}/images/bjkane-logo-black.svg">
    </div>
  </div>
  </section>

    {% include secondary-text.html title="Branding Guidelines" description="The following are photos of the printed branding guidelines for bj kane electrci ltd, there are alsdo some examples pulled from the book and some secondary brand elements and mockups." class="bjkane-process-title" class2="bjkane-process" %}

    <section class="grid">
      <div class="unit xs-1 m-1-2">
        <img class="img-flex" src="{{site.baseurl}}/images/bjkane-guide-cover-red2.jpg">
      </div>
      <div class="unit xs-1 m-1-2">
        <img class="img-flex" src="{{site.baseurl}}/images/bjkane-guide-inside1.jpg">
      </div>
    </section>


    <section>
          <img class="img-flex" src="{{site.baseurl}}/images/bjkane-guidelines-placeholder.png" alt="">
    </section>

    <section class="grid">
      <div class="unit xs-1 m-1-2">
        <img class="img-flex" src="{{site.baseurl}}/images/bjkane-guidelines-placeholder-2.png">
      </div>
      <div class="unit xs-1 m-1-2">
        <img class="img-flex" src="{{site.baseurl}}/images/bjkane-guidelines-placeholder-2.png">
      </div>
    </section>

    <section>
          <img class="img-flex" src="{{site.baseurl}}/images/bjkane-guidelines-placeholder-3.png" alt="">
    </section>

    <section class="grid">
      <div class="unit xs-1 m-1-2">
        <img class="img-flex" src="{{site.baseurl}}/images/bjkane-guidelines-placeholder-2.png">
      </div>
      <div class="unit xs-1 m-1-2">
        <img class="img-flex" src="{{site.baseurl}}/images/bjkane-guidelines-placeholder-2.png">
      </div>
    </section>

    <img class="swatches" src="{{site.baseurl}}/images/bjkane-swatches.svg" alt="">
