---
layout: default
title: BJ Kane Electric | Cameron Stewart
description: This is a rebranding project for Bj Kane Electrical Ltd.
---

  {% include hero-intro.html title="A New Look For an Established Business" intro="This was a rebrand for a local electrical company." image="bjkane-hat-red.jpg" class="bjkane-intro" %}

  <section class="bjkane-original pad-t-4 pad-b-4">
    <div class="grid grid-middle wrapper gutter-1-2">
      <div class="unit xs-1 m-1-2 gutter-1-2 push-2 push-m-0">
        <h2 class="yotta push-1-2">Original Logo.</h2>
        <p class="push-0">This is the current logo for BJ Kane Electric Ltd.</p>
      </div>

      <div class="unit xs-1 m-1-2 gutter-1-2">
        <img class="img-flex" src="{{site.baseurl}}/images/bjkane-original.svg">
      </div>
    </div>
  </section>

  {% include process-section.html image="bjkane-sketches.svg" title="The Design Process" description="The goal for this re-design was to create a more modern and structured visual identity for the company. The bold font set in all caps communicates strength and reliability. Making the text the primary focus was also a deliberate attempt for the logo and name to be easily recognized on company vans and trucks. The letter <i>J</i> wrapping around the <i>B</i> serves several purposes. The first is to emit the idea of a power source running through the logo. The second is that it separates <i>BJ</i> from <i>Kane</i> when the logo is displayed in one colour. Lastly, it enables <i>electric ltd.</i> to be lined up with the descender of the <i>J</i>, unifying the logo and preserving the strong rectangular shape of the mark. " class="bjkane-process" class2="bjkane-process-title" %}
  {% include logo-grid.html image="bjkane-logo-grid" class="bjkane-grid" %}

  <section class="logo-section-1 logo-section-lift-1 gutter pad-t-4 pad-b-4">
  <div class="wrapper">
    <div class="max-length logo-restraints">
      <img class="img-flex" src="{{site.baseurl}}/images/bjkane-logo-white.svg">
    </div>
  </div>
  </section>

  <section class="logo-section-2 logo-section-lift-2">
  <div class="grid w-1">
    <div class="unit xs-1 m-1-2 bg-red island-2">
      <img class="img-flex lift-logo-2 w-1-2  center-block" src="{{site.baseurl}}/images/bjkane-logo-red.svg">
    </div>
    <div class="unit xs-1 m-1-2 bg-black island-2">
      <img class="img-flex lift-logo-2 w-1-2 center-block" src="{{site.baseurl}}/images/bjkane-logo-black.svg">
    </div>
  </div>
  </section>

    <section class="pad-t-4 pad-b-2 bjkane-process">
      <div class="grid grid-middle wrapper gutter-1-2">
        <div class="unit xs-1 m-1-2 gutter-1-2 push-2 push-m-0">
          <h2 class="tena push-1-2">Brand Guidelines</h2>
          <p class="push-0"></p>
        </div>
      </div>
    </section>

    <section class="grid">
      <div class="unit xs-1 m-1-2">
        <img class="img-flex" src="{{site.baseurl}}/images/bjkane-guide-cover.jpg">
      </div>
      <div class="unit xs-1 m-1-2">
        <img class="img-flex" src="{{site.baseurl}}/images/bjkane-guide-inside1.jpg">
      </div>
    </section>


    <section class="grid">
      <div class="unit xs-1 m-1-2">
        <img class="img-flex" src="{{site.baseurl}}/images/bjkane-guide-inside2.jpg">
      </div>
      <div class="unit xs-1 m-1-2">
        <img class="img-flex" src="{{site.baseurl}}/images/bjkane-guide-inside3.jpg">
      </div>
    </section>

    <section class="grid wrapper pad-b-2 pad-t-2">
      <div class="unit xs-1 m-1-2">
        <img class="img-flex" src="{{site.baseurl}}/images/bjkane-guide-inside-large1.jpg">
      </div>
      <div class="unit xs-1 m-1-2">
        <img class="img-flex" src="{{site.baseurl}}/images/bjkane-guide-inside-large2.jpg">
      </div>
    </section>

    <section class="grid">
      <div class="unit xs-1 m-1-2">
        <img class="img-flex" src="{{site.baseurl}}/images/bjkane-guide-inside4.jpg">
      </div>
      <div class="unit xs-1 m-1-2">
        <img class="img-flex" src="{{site.baseurl}}/images/bjkane-guide-inside5.jpg">
      </div>
    </section>

    <section class="grid pad-t-2">
        <div class="unit xs-1 m-1-2">
          <img class="img-flex" src="{{site.baseurl}}/images/bjkane-van-white.jpg" alt="">
        </div>
        <div class="unit xs-1 m-1-2">
          <img class="img-flex" src="{{site.baseurl}}/images/bjkane-van-red.jpg" alt="">
        </div>
    </section>

    <section class="gutter pad-b-2">
          <img class="img-flex" src="{{site.baseurl}}/images/bjkane-tape.jpg" alt="">
    </section>



    <img class="swatches" src="{{site.baseurl}}/images/bjkane-swatches.svg" alt="">

    <div class="relative">
        <a href="{{site.baseurl}}/baxter-of-california/" class="icon prev-icon wordmark">
          <svg id="previous" width="76.8" height="76.8" viewBox="0 0 57.65 57.65">
            <rect class="prev-next-rect" width="57.65" height="57.65" opacity=".6" rx="5.57" ry="5.57"/>
            <path class="prev-next-arrow" fill="#fffef4" d="M34.48 45.73l-16.4-16.4a.72.72 0 0 1 0-1l16.4-16.4a.72.72 0 0 1 1 0l2.52 2.5a.72.72 0 0 1 0 1L25.15 28.31a.72.72 0 0 0 0 1L38 42.2a.72.72 0 0 1 0 1l-2.52 2.52a.72.72 0 0 1-1 .01z"/>
          </svg>
        </a>

        <a href="{{site.baseurl}}/other-work/" class="icon next-icon wordmark">
          <svg id="next" width="76.8" height="76.8" viewBox="0 0 57.65 57.65">
            <rect class="prev-next-rect" width="57.65" height="57.65" opacity=".6" rx="5.57" ry="5.57" transform="rotate(180 28.825 28.825)"/>
            <path class="prev-next-arrow" fill="#fffef4" d="M23.17 11.91l16.4 16.4a.72.72 0 0 1 0 1l-16.4 16.4a.72.72 0 0 1-1 0l-2.52-2.52a.72.72 0 0 1 0-1L32.5 29.33a.72.72 0 0 0 0-1L19.64 15.45a.72.72 0 0 1 0-1l2.52-2.52a.72.72 0 0 1 1.01-.02z"/>
          </svg>
        </a>
    </div>
