---
layout: default
title: 613 Cycling App
description: 613 Cycling App Case Study
---

{% include hero-intro.html title="This Is The App Case Study Header." intro="This will be a couple small sentences about the 613 Cycling x Global Goals app. This was a school project in which we were supposed to design an app based off of the globals goals initiative." image="cycling-app.png" class="cycling-secondary" class2="cycling-secondary-title" %}
{% include process-section.html image="cycling-app-sketches.svg" title="The Design Process" description="This is the description for the baxter project describing the process behind the whole design of all of it. Talk about the old packaging and why I wnated to re-design it. WHat were some of my ideas and why did I choose them. Maybe show the before and after packaging next to this on the left. PNGs w shadows on a white background so that they look like they're on the website screen." class="cycling-app-process" class2="cycling-app-process-title" %}
<li class="unit xs-1">
  <div class="embed embed-16by9">
    <iframe src="https://player.vimeo.com/video/246905984?color=ff6b6b&title=0&byline=0&portrait=0" class="embed-item" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
</li>

  <img class="swatches" src="{{site.baseurl}}/images/cycling-swatches.svg" alt="">

  {% include secondary-text.html title="Secondary App Header" description="Below are some examples of different logo and colour applications pertaining to the 613 Cycling brand." class="cycling-secondary" class2="cycling-secondary-title" %}
