---
layout: default
title: 613 Cycling App
description: 613 Cycling App Case Study
---

{% include hero-intro.html title="This Is The App Case Study Header." intro="This will be a couple small sentences about the 613 Cycling x Global Goals app. This was a school project in which we were supposed to design an app based off of the globals goals initiative." image="cycling-app.jpg" class="cycling-secondary" class2="cycling-secondary-title" %}
{% include process-section.html image="cycling-app-sketches.svg" title="The Design Process" description="The criteria for this assignment involved creating a useful app related to health or fitness. After recently completing the 613 Cycling logo at the time, the cycling community was on my mind. I decided to create an app concept in which users could find other cylists to ride with in their area. This all ties back to the App Definition Statement: Local cyclists need a way to organize group rides so they can excercise and socialize." class="cycling-app-process" class2="cycling-app-process-title" %}

  <section class="cycling-intro pad-t-4 pad-b-4">
    <div class="grid grid-middle wrapper gutter-1-2">
      <div class="unit xs-1 m-1-2 gutter-1-2 push-2 push-m-0">
        <h2 class="tena push-1-2">My Rides</h2>
        <p class="push-0">Users have a schedule of all the upcoming rides they’ve committed to. Here they can view the time, location, route and distance of the ride as well as what other members will be attending.</p>
      </div>

      <div class="unit xs-1 m-1-2 gutter-1-2">
        <img class="img-flex" src="{{site.baseurl}}/images/cycling-app-my-rides.jpg">
      </div>
    </div>
  </section>

  {% include process-section.html image="cycling-app-join-ride.jpg" title="The Design Process" description="View what other rides are happening in your area. To view the details of each ride, click on the information icon. To join a ride and add it to your schedule, simply click the plus-sign icon. Below is an animation of how a user would join a ride. After clicking the add ride icon, the ride is added to their my rides page." class="cycling-secondary" class2="cycling-secondary-title" %}

  <li class="unit xs-1">
    <div class="embed embed-16by9">
      <iframe src="https://player.vimeo.com/video/246905984?color=ff6b6b&title=0&byline=0&portrait=0" class="embed-item" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
  </li>

  <section class="cycling-app-my-rides pad-t-4 pad-b-4">
    <div class="grid grid-middle wrapper gutter-1-2">
      <div class="unit xs-1 m-1-2 gutter-1-2 push-2 push-m-0">
        <h2 class="tena push-1-2">Create Ride</h2>
        <p class="push-0">To create a ride, users have the option to create their own route or choose from pre-made routes in the area.</p>
      </div>

      <div class="unit xs-1 m-1-2 gutter-1-2">
        <img class="img-flex" src="{{site.baseurl}}/images/cycling-app-create-route.jpg">
      </div>
    </div>
  </section>

    <img class="swatches" src="{{site.baseurl}}/images/cycling-swatches.svg" alt="">

    <div class="relative">
        <a href="{{site.baseurl}}/cycling/" class="icon prev-icon">
          <svg id="previous" width="76.8" height="76.8" viewBox="0 0 57.65 57.65">
            <rect class="prev-next-rect" width="57.65" height="57.65" opacity=".6" rx="5.57" ry="5.57"/>
            <path class="prev-next-arrow" fill="#fffef4" d="M34.48 45.73l-16.4-16.4a.72.72 0 0 1 0-1l16.4-16.4a.72.72 0 0 1 1 0l2.52 2.5a.72.72 0 0 1 0 1L25.15 28.31a.72.72 0 0 0 0 1L38 42.2a.72.72 0 0 1 0 1l-2.52 2.52a.72.72 0 0 1-1 .01z"/>
          </svg>
        </a>

        <a href="{{site.baseurl}}/baxter/" class="icon next-icon">
          <svg id="next" width="76.8" height="76.8" viewBox="0 0 57.65 57.65">
            <rect class="prev-next-rect" width="57.65" height="57.65" opacity=".6" rx="5.57" ry="5.57" transform="rotate(180 28.825 28.825)"/>
            <path class="prev-next-arrow" fill="#fffef4" d="M23.17 11.91l16.4 16.4a.72.72 0 0 1 0 1l-16.4 16.4a.72.72 0 0 1-1 0l-2.52-2.52a.72.72 0 0 1 0-1L32.5 29.33a.72.72 0 0 0 0-1L19.64 15.45a.72.72 0 0 1 0-1l2.52-2.52a.72.72 0 0 1 1.01-.02z"/>
          </svg>
        </a>
    </div>
