---
layout: default
title: 613 Cycling
description: 613 Cycling Case Study
---

  {% include hero-intro.html title="Creating A Culture" intro="Sometimes tight deadlines and pressure produce some extraordinary results. For this project the clients had a race 5 days after the project brief. They wanted to unveil their new club to the cycling community at this race and neede a logo, fast." image="cycling-hero.jpg" class="cycling-intro" %}
  {% include process-section.html image="cycling-sketches-placeholder.svg" title="The Design Process" description="This is the description for the baxter project describing the process behind the whole design of all of it. Talk about the old packaging and why I wnated to re-design it. WHat were some of my ideas and why did I choose them. Maybe show the before and after packaging next to this on the left. PNGs w shadows on a white background so that they look like they're on the website screen." class="cycling-process"%}
  {% include logo-grid.html image="cycling-logo-grid" class="bg-red" %}
  {% include logo-display.html class="bg-black" image="cycling-logo-black" class2="bg-volt" image2="cycling-logo-volt" class3="bg-red" image3="cycling-logo-red" %}
  {% include secondary-text.html title="Logo Applications" description="Below are some examples of different logo and colour applications pertaining to the 613 Cycling brand." class="cycling-secondary"%}
  <section class="grid">
      <div class="unit xs-1 m-1-2 l-1-3">
        <img class="img-flex" src="{{site.baseurl}}/images/cycling-bottle-volt.jpg" alt="">
      </div>
      <div class="unit xs-1 m-1-2 l-1-3">
        <img class="img-flex" src="{{site.baseurl}}/images/cycling-bottle.jpg" alt="">
      </div>
      <div class="unit xs-1 m-1-2 l-1-3">
        <img class="img-flex" src="{{site.baseurl}}/images/cycling-bottle-red.jpg" alt="">
      </div>
  </section>

  <section class="grid">
    <div class="unit xs-1 m-1-2">
      <img class="img-flex" src="{{site.baseurl}}/images/cycling-wyatt-2.jpg">
    </div>
    <div class="unit xs-1 m-1-2">
      <img class="img-flex" src="{{site.baseurl}}/images/cycling-hill.jpg">
    </div>
  </section>


      <section>
              <img class="img-flex" src="{{site.baseurl}}/images/cycling-shoes-black.jpg" alt="">
        </section>

        <section>
                <img class="img-flex" src="{{site.baseurl}}/images/cycling-shoes-white.jpg" alt="">
          </section>

        <section class="grid">
            <div class="unit xs-1 m-1-2">
              <img class="img-flex" src="{{site.baseurl}}/images/cycling-shoes-volt.jpg" alt="">
            </div>
            <div class="unit xs-1 m-1-2">
              <img class="img-flex" src="{{site.baseurl}}/images/cycling-shoes-red.jpg" alt="">
            </div>
        </section>

        <section>
              <img class="img-flex" src="{{site.baseurl}}/images/cycling-hero.jpg" alt="">
        </section>

        <img class="swatches" src="{{site.baseurl}}/images/cycling-swatches.svg" alt="">
