---
layout: default
title: 613 Cycling App
description: 613 Cycling App Case Study
---

{% include hero-intro.html title="This Is The App Case Study Header." intro="This will be a couple small sentences about the 613 Cycling x Global Goals app. This was a school project in which we were supposed to design an app based off of the globals goals initiative." image="cycling-app.png" class="cycling-secondary" class2="cycling-secondary-title" %}
{% include process-section.html image="cycling-app-sketches.svg" title="The Design Process" description="This is the description for the baxter project describing the process behind the whole design of all of it. Talk about the old packaging and why I wnated to re-design it. WHat were some of my ideas and why did I choose them. Maybe show the before and after packaging next to this on the left. PNGs w shadows on a white background so that they look like they're on the website screen." class="cycling-app-process" class2="cycling-app-process-title" %}

  <section class="cycling-app-my-rides color-red pad-t-4 pad-b-4">
    <div class="grid grid-middle wrapper gutter-1-2">
      <div class="unit xs-1 m-1-2 gutter-1-2 push-2 push-m-0">
        <h2 class="tena push-1-2">My Rides</h2>
        <p class="push-0">Users have a schedule of all the upcoming rides they’ve committed to. Here they can view the time, location, route and distance of the ride as well as what other members will be attending.</p>
      </div>

      <div class="unit xs-1 m-1-2 gutter-1-2">
        <img class="img-flex" src="{{site.baseurl}}/images/cycling-app-my-rides.jpg">
      </div>
    </div>
  </section>

  {% include process-section.html image="cycling-app-sketches.svg" title="Join Ride" description="View what other rides are happening in your area. To view the details of each ride, click on the information icon. To join a ride and add it to your schedule, simply click the plus-sign icon. Below is a quick animation of how a user would join a ride. After clicking the "add" icon, this ride would be added to their "My Rides" page. class="cycling-app-process" class2="cycling-app-process-title" %}

  <li class="unit xs-1">
    <div class="embed embed-16by9">
      <iframe src="https://player.vimeo.com/video/246905984?color=ff6b6b&title=0&byline=0&portrait=0" class="embed-item" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
  </li>

  <section class="bg-white color-red pad-t-4 pad-b-4">
    <div class="grid grid-middle wrapper gutter-1-2">
      <div class="unit xs-1 m-1-2 gutter-1-2 push-2 push-m-0">
        <h2 class="tena push-1-2">Create Ride</h2>
        <p class="push-0">To create a ride, users have the option to create their own route or choose from pre-made routes in the area.</p>
      </div>

      <div class="unit xs-1 m-1-2 gutter-1-2">
        <img class="img-flex" src="{{site.baseurl}}/images/lift-washroom-specs.svg">
      </div>
    </div>
  </section>

    <img class="swatches" src="{{site.baseurl}}/images/cycling-swatches.svg" alt="">
