---
layout: default
title: Cameron Stewart - Graphic Designer
description: Graphic Designer based oiut of Ottawa, Canada.
---
    <ul class="list-group push-0">

      {% include main-card.html title="613 Lift Ltd." subtitle="logo design &amp; branding" image="lift-logo-hero.png" url="lift" %}

      {% include main-card.html title="613 Cycling" subtitle="logo design" image="cycling-logo-hero.png" url="cycling" %}



      <li>
        <a href="cycling.html" class="ib banana relative">
          <div class="banana-content absolute pin-c text-center">
            <h2 class="yotta push-1-8">613 CYCLING</h2>
            <h3 class="push-0">logo design</h3>
          </div>
          <img class="banana-image img-flex" src="images/cycling-logo-hero.png" alt="">
        </a>
      </li>

      <li>
        <a href="baxter.html" class="ib banana relative">
          <div class="banana-content absolute pin-c text-center">
            <h2 class="yotta push-1-8">BAXTER OF CALIFORNIA</h2>
            <h3 class="push-0">package design concept</h3>
          </div>
          <img class="banana-image img-flex" src="images/baxter-package-hero.png" alt="">
        </a>
      </li>

      <li>
        <a href="cyclingapp.html" class="ib banana relative">
          <div class="banana-content w-1 absolute pin-c text-center">
            <h2 class="yotta push-1-8">613 CYCLING  <span class="collaboration">X</span>  GLOBAL GOALS</h2>
            <h3 class="push-0">app design concept</h3>
          </div>
          <img class="banana-image img-flex" src="images/cycling-app.png" alt="">
        </a>
      </li>

      <li>
        <a href="bjkane.html" class="ib banana relative">
          <div class="banana-content w-1 absolute pin-c text-center">
            <h2 class="yotta push-1-8">BJ KANE ELECTRIC LTD.</h2>
            <h3 class="push-0">logo design concept &amp; branding guidelines</h3>
          </div>
          <img class="banana-image img-flex" src="images/bjkane-logo-hero.png" alt="">
        </a>
      </li>
    </ul>
