---
layout: default
title: Cameron Stewart | Designer | Ottawa, Canada
description: Cameron Stewart is a multidisciplinary graphic designer based out of Ottawa, Canada.
---
<ul class="list-group push-0 bg-black">

  {% include secondary-text.html title="Hello" description="I'm a Canadian <strong>graphic designer</strong> interested in <strong>UI/UX design</strong>, <strong>branding</strong> & <strong>web design</strong>. Below are a few case studies of some of my work." class="introduction" class2="introduction-title"%}

  {% include main-card.html title="613 Lift Ltd." subtitle="logo design &amp; branding" image="lift-black-tank.jpg" url="613-lift" %}

  {% include main-card.html title="613 Cycling" subtitle="logo design" image="cycling-hero.jpg" url="613-cycling" %}

  {% include main-card.html title="613 Cycling App" subtitle="app design concept" image="cycling-app.jpg" url="cycling-app" %}

  {% include main-card.html title="Baxter of California" subtitle="package design concept" image="baxter-hero.jpg" url="baxter-of-california" %}

  {% include main-card.html title="BJ Kane Electric Ltd." subtitle="logo design &amp; brand guidelines" image="bjkane-hat-red.jpg" url="bjkane-electric" %}

  {% include main-card.html title="Other Projects" subtitle="&nbsp;" image="other-projects.jpg" url="other-work" %}
