---
layout: default
title: Miscelleaneous - Cameron Stewart
description: Misc. Works
---
<ul class="list-group push-0">

  {% include main-card.html title="613 Lift Ltd." subtitle="logo design &amp; branding" image="lift-hero.jpg" url="lift" %}

  {% include main-card.html title="613 Cycling" subtitle="logo design" image="cycling-logo-hero.png" url="cycling" %}

  {% include main-card.html title="Baxter of California" subtitle="package design concept" image="baxter-hero.jpg" url="baxter" %}

  {% include main-card.html title="613 Cycling Global Goals" subtitle="app design concept" image="cycling-app.png" url="cyclingapp" %}

  {% include main-card.html title="BJ Kane Electric Ltd." subtitle="logo design concept &amp; brand guidelines" image="bjkane-logo-hero.png" url="bjkane" %}

  {% include main-card.html title="Miscellaneous Works" subtitle="subtitle goes here" image="misc-placeholder.png" url="misc" %}
