<li>
  <a href="{{site.baseurl}}/{{include.url}}/" class="w-1 ib banana relative">
    <div class="banana-content w-1 absolute pin-c text-center">
      <h2 class="exa push-1-2 text-upper">{{include.title}}</h2>
      <div class="keyline center-block push-1-2"></div>

      <div class="relative">
        <svg  class ="next-arrow" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" width="0.43in" height="0.72in" viewBox="0 0 30.61 51.49">
          <path d="M27.83,26.85,6,48.71a1.57,1.57,0,0,1-2.21,0l-1-1a1.57,1.57,0,0,1,0-2.21L20.73,27.57a2.61,2.61,0,0,0,0-3.66L2.78,6a1.57,1.57,0,0,1,0-2.21l1-1A1.57,1.57,0,0,1,6,2.78L27.83,24.64A1.57,1.57,0,0,1,27.83,26.85Z" fill="#fffef4"/>
        </svg>
      </div>

      <h3 class="push">{{include.subtitle}}</h3>
    </div>
    <img class="banana-image img-flex" src="{{site.baseurl}}/images/{{include.image}}" alt="">
  </a>
</li>
